

 h1 {
    font-size: 36px;
    color: blueviolet;
 }
 body {
    /* font-family: 'Times New Roman', Times, serif; */
    /* background-image: url('royalstar.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: beige; */
    /* color: black; */
}

p {
    font-size: 15px;
    color: black;
}



footer {
    background-color: #f1f1f1;
    color: blueviolet;
    text-align: center;
    padding: 10px;
    list-style: none;
}
